*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    padding:20px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

#taskForm{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

#taskInput{
    width:300px;
    padding:10px;
}

button{
    padding:10px 15px;
    cursor:pointer;
}

.board{
    display:flex;
    gap:20px;
}

#todo,
#progress,
#done{
    flex:1;
    background:white;
    border:1px solid #ddd;
    border-radius:8px;
    min-height:400px;
    padding:15px;
}

#todo h2,
#progress h2,
#done h2{
    text-align:center;
    margin-bottom:15px;
}